.topnav {

    overflow: hidden;
    background-color: #f3f3f3;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;

}
.logo{
    float:left;
}
.topnav a img{
    float:left;
    height: 50px;
    margin-left: 2em;

}
#explic{
    font-size: 36px;
    margin:0px;
    margin-top: 0.2em;
    margin-left: 0.3em;
    float: left;
    text-decoration:none;
    color:#457B9D;
    font-family: "Open Sans";
}
@media only screen and (min-width: 908px) {
    #elemnt {
        float: right;
        color: #666;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        padding: 1em;
        margin-right: 36px;
        text-decoration: none;

    }
    .dropbtn{
        display: none;
    }
    .dropdown{
        display: none;
    }
}

#elemnt:hover:not(.active) {
    background-color: #ddd;
}
 .active {
    color: red;
    background-color: #457b9d38;
}