.topnav {

    overflow: hidden;
    background-color: #f3f3f3;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;

}
.logo{
    float:left;
}
.topnav a img{
    float:left;
    height: 50px;
    margin-left: 2em;

}
#explic{
    font-size: 30px;
    margin:0px;
    margin-top: 0.5em;
    margin-left: 0.5em;
    float: left;
    text-decoration:none;
    color:#4CAF50
}
@media only screen and (min-width: 908px) {
    #elemnt {
        float: right;
        color: #666;
        text-align: center;
        padding: 1em;
        margin-right: 36px;
        text-decoration: none;
        border: 1px solid #d35050;

    }
    .dropbtn{
        display: none;
    }
    .dropdown{
        display: none;
    }
}
@media only screen and (max-width: 908px) {
    #elemnt {
        display: none;
    }
    /* Style The Dropdown Button */
    .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 2em;

    }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: static;
    float:right;
    display: block;
    margin-right: 3em;
    margin: auto;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 9em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -6em;
    border: 2px solid #000000;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    margin-right: 2em;

  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
}
#elemnt:hover:not(.active) {
    background-color: #ddd;
}
 .active {
    color: red;
    background-color: #4CAF50;
}