/* On smaller screens, decrease text size */

@media only screen and (max-width: 500px) {
  #social {
    font-size: 20px;
  }
  .section {
    padding-bottom: 2em;
    padding-top: 1em;
  }
  .headSecu > h1{
    font-size: 46px;
    margin-top: 10px;
    padding-top: 2em;
  }
  .container > h2{
    font-size: 42px;
  }
  #explic {
    display: none;
  }
  /***********************QUEM SOMOS**********************/
  .text {
    font-size: 18px
  }
  #imgAbout {
    max-height: 10em;
  }
  /***********************CURSOS**********************/
  #course {
    width: 10em;
    height: 12em;
  }
  #course h4 {
    font-size: 14px;
  }
  .buttonInfo {
    font-size: 12px;
    height: 25px;
  }
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
  .select-css {
    font-size: 12px;
    width:8rem;
  }
    /***********************HORARIO**********************/
    .day-one{
      margin-bottom: 20px;
    }
    .schedule-warp{
      padding: 20px 30px;
      width: 90%;
      margin: 20px;
    }
    .schedule-start{
      font-size: 14px;
    }

  /***********************CONTACTOS**********************/

  .mapContainer{
    width: 100%;
    height: 20em;
  }
  #contact{
    width: 12em;
    height: 9em;
  }
  #contact > i {
    font-size: 36px;
  }
  #contact > h4 {
    font-size: 20px;
  }
  #contact > p {
    font-size: 16px;
  }
  /***********************CURSOS MODAL**********************/
  #modalContainer {
    font-size: 10px!important;
}

  #modalContainer>h2 {
    font-size: 20px!important;
  }
  .cancelbtn {
    font-size: 12px;
    width: 50%;
    padding: 5px;
  }
  
  /***********************FOOTER**********************/
  .footer > h2{
    font-size: 36px;
  }
  .footerTitle{
    font-size: 24px;
  }
  #informatContainer > p{
    font-size: 14px;
    text-align: center;
  }
  #hours{
    margin:0;
  }
}

@media only screen and (min-width: 500px) {
  @media only screen and (max-width: 799px) {
    #sloganContainer>h2 {
      font-size: 36px;
    }
    #sloganContainer>h3 {
      font-size: 24px;
    }
    #testimonials {
      flex-direction: column-reverse;
    }
    #textTestimon {
      margin: auto;
    }
    #imgTestimon>img {
      width: 8em;
      height: 8em;
      margin: auto;
    }
    /***********************CURSOS MODAL**********************/
    #modalContainer>h2 {
      font-size: 32px!important;
    }
  }
}

@media only screen and (max-width: 848px) {
  /***********************PAGINA INICIAL**********************/
  #imgTestimon {
    margin: auto;
  }
  #imgBorder {
    width: 100%;
    height: 12.3em;
  }
  /***********************QUEM SOMOS**********************/
  /*Instrutores*/
  #instruct {
    width: 14em;
    height: 21.5em;
    margin: 10px;
  }
  #imgInstruct {
    width: 100%;
    height: 12em;
  }
  /***********************CURSOS**********************/
  #course {
    margin: 1em;
  }
  .informatContainer {
    margin: 0em;
    padding: 0em;
  }
  #socMedContainer {
    margin: 0;
    padding: 0;
  }
  .schedule-warp {
    margin-top: 1em;
  }
  /***********************CURSOS MODAL**********************/
  #modalContainer>h2 {
    font-size: 48px;
  }
  #modalContainer {
    font-size: 14px;
  }
  .cancelbtn {
    font-size: 16px;
  }
    /***********************FOOTER**********************/
    #informatContainer > p{
      text-align: center;
    }
}

@media only screen and (max-width: 998px) {
  #elemnt {
    display: none;
  }
  /* Style The Dropdown Button */
  .dropbtn {
    background-color: #457B9D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 2em;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: static;
    float: right;
    display: block;
    margin-right: 5em;
    margin: auto;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 9em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -6em;
    border: 2px solid #000000;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    margin-right: 2em;
  }
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #457b9dd2;
  }
}

@media only screen and (max-width:1030px) {
  #sloganContainer {
    width: 80%;
  }
  #sloganContainer>h2 {
    font-size: 48px;
  }
  #sloganContainer>h3 {
    font-size: 36px;
  }
}