a .icon {
    height: 50px;
}

.navbar-brand {
    font-size: 26px;
}

#weatherCard {
    width: 380px;
    margin: auto;
    height: 260px;
    border-radius: 10px;
    padding: 1px;
}

.report-container {
    padding: 20px 40px 40px 40px;
    height: 100%;
}

.weather-icon {
    vertical-align: middle;
    margin-right: 20px;

}

.weather-forecast {
    color: #212121;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0px;

}

span.min-temperature {
    margin-left: 15px;
    color: #929292;
}

.time {
    line-height: 25px;
}

/**
Listar todos os users em cards

*/

.box-widget {
    border: none;
    position: relative;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 220px;
    box-shadow: 0 0px 4px 3px rgba(0, 0, 0, 0.1);
}

.widget-user .widget-user-header {
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.widget-user .widget-user-username {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
}

.widget-user .widget-user-desc {
    margin-top: 10px;
    color: black;
}

.widget-user .widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px;
    width: 95px;
    height: 100px;

}

.widget-user .widget-user-image > img {
    width: 95px;
    height: 100px;
    border: 3px solid #fff;
    object-fit: cover;
}

.widget-user .box-footer {
    padding-top: 30px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.box .border-right {
    border-right: 1px solid #f4f4f4;
}

.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}

.description-block > .description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}

.description-block > .description-text {
    text-transform: uppercase;
}

/*
Paginas
*/
.pagination {
    float: right;
    margin-right: 15px;
}

/*
* botao de adicionar users
*/
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 0px;
    border-radius: 50%;
    font-size: 42px;
    text-align: center;
    outline: none;

}

#addUser {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: green;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}


.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hovereffect .box {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.hovereffect:hover .box {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
}

.hovereffect button.info {
    display: inline-block;
    text-decoration: none;
    padding: 1px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin: 100px 10px;
    font-size: 28px;
}

.hovereffect button.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect button.info, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    text-transform: uppercase;
    color: white;
}

.hovereffect:hover button.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


.modal-dialog-full-width {
    width: 90% !important;
    margin: auto !important;
    padding: 0 !important;
    max-width: none !important;

}
.modal-dialog-full-width2 {
    width: 60% !important;
    margin: auto !important;
    padding: 0 !important;
    max-width: none !important;
}


.modal-content-full-width {
    height: auto !important;
    border-radius: 0 !important;
    background-color: #ececec !important;
    padding: 0 !important;

}
.modal-content-full-width2 {
    height: auto !important;
    border-radius: 0 !important;
    background-color: white !important;
    padding: 0 !important;

}

#outer {
    width: 280px;
    float: right;
    text-align-last: center;
}

.dataTables_filter input[type="search"]:focus {
    width: 350px;
    transition: all 1s;
}

.dataTables_filter input[type="search"]:not(:focus) {
    width: 150px;
    transition: all 1s;
}

#myInput {
    width: 30% !important;
    transition: all 1s;

}

#myInput:focus {
    width: 80% !important;
    transition: all 1s;
}

#course {
    background-color: #f1f1f1;
    width: 17em;
    height: 20em;
    text-align: center;
    margin: 2em;
    box-shadow: 2px 2px 8px 4px #0000004f;
}

#course>#imgBorder {
    width: 100%;
    height: 65%;
}

#imgBorder>#imgCourse {
    width: 100%;
    height: 100%;
    background-color: white;
}

#course h3 {
    font-size: 22px;
    margin: 0.1em 0em;
    padding: 10px;
}

#course h4 {
    font-size: 20px;
    margin: 0.1em 0em;
    padding: 10px;
}


/*PERFIL.PHP -> change the background color of the profile*/
#colorPick {
    width: 130px;
    display: none;
}

#colorPickButton {
    display: none;

}


.product-grid, .product-grid .product-image {
    position: relative;
}

.product-grid {
    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    transition: all .3s ease 0s;
    width: 18rem;
    height: 400px;

}

.product-grid:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.product-grid .product-image a {
    display: block
}
.product-grid .product-image  {

    height: 250px;
}
.product-grid .product-image img {
    width: 100%;
    height: 250px;
}

.product-grid .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-grid:hover .pic-1 {
    opacity: 0.6
}

.product-grid .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.product-grid:hover .pic-2 {
    opacity: 1
}

.product-grid:hover .product-new-label {
    opacity: 0
}

.product-grid .product-content {
    padding: 25px
}

.product-grid .title {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s
}

.product-grid .title a {
    color: #222
}

.product-grid .title a:hover {
    color: #16a085
}

.product-grid .price {
    color: #16a085;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block
}

.product-grid .price span {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    vertical-align: middle;
    display: inline-block
}

.product-grid .add-to-cart {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s
}

.product-grid:hover .add-to-cart {
    border: 1px solid transparent;
    background: #16a085;
    color: #fff
}

.product-grid .add-to-cart:hover {
    background-color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

@media only screen and (max-width: 990px) {
    .product-grid {
        margin-bottom: 30px
    }
}

